.nav-tabs {
  border-bottom: none;
  justify-content: center;
}

.nav-tabs li a {
  padding: 5px 10px;
  margin: 5px;
  color: unset;
  border-radius: 15px;
  background-color: var(--secondary);
}

.nav-tabs li a:hover {
  text-decoration: none;
  background-color: var(--shadow);
}

.nav-tabs li a.active {
  background-color: var(--primary);
  color: #fff;
}

#roadmapChart {
  width: 100%;
  margin: 25px auto;
}

#roadmapChart canvas {
  border: 1px solid var(--secondary);
  border-radius: 6px;
  padding: 10px;
}

@media (min-width: 768px) {
  .nav-tabs li a {
    padding: 5px 25px;
  }   
}
