.project-name {
  font-size: 1rem;
  display: inline-flex;
  justify-content: flex-end;
  padding: 15px;
  white-space: nowrap;
  align-items: center;
  margin-bottom: 0;
  font-weight: 500;
  cursor: default;
}

.project-name.desktop {
  display: none;
}

#navigation .navbar {
  background-color: var(--secondary) !important;
}

#navigation .navbar-toggler {
  border: none;
  outline: none;
}

#navigation .navbar i,
#navigation .navbar h5 {
  margin: 0.6rem 0;
}

#navigation .navbar i {
  font-size: 1.2em;
  position: relative;
  top: 2px;
  margin-right: 5px !important;
}

#navigation .navbar-row {
  width: 100%
}

#navigation .navbar-row .nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navigation .navigation-content {
  min-height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
}

#navigation .navigation-content .tab-content {
  padding: 15px;
  min-height: calc(80vh - 50px);
}

#navigation .navigation-content .tab-content-col {
  width: 100%
}
  
#navigation .navigation-content .navigation-list-container {
  display: flex;
  justify-content: space-between;
}

#navigation .navigation-content .navigation-list {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#navigation .navigation-content .navigation-list .list-group {
  flex-direction: row;
  display: inline-flex;
}

#navigation .navigation-content .navigation-list .navigation-list-item-title {
  display: none;
}

#navigation .navigation-content .navigation-list .list-group-item {
  margin: .6rem 0;
  border: none;
  border-radius: 6px;
  outline: none !important;
  cursor: pointer;
  display: none;
  font-size: 1.4rem;
}

#navigation .navigation-content .navigation-list .list-group-item#navigation-list-hamburger {
  display: block;
  position: relative;
  z-index: 999991;
}

.mobile-nav #navigation .navigation-content .navigation-list .list-group-item#navigation-list-hamburger {
  background-color: transparent;
  color: #fff;
}

#navigation .navigation-content .navigation-list .list-group-item {
  background-color: #fff;
  color: var(--secondary-dark);
  width: fit-content !important;
}

#navigation .navigation-content .navigation-list .list-group-item:hover {
  color: var(--primary);
}

#navigation .navigation-content .navigation-list .list-group-item.active {
  color: var(--primary);
  position: relative;
}

#navigation #all-projects-btn:hover {
  cursor: pointer;
  color: var(--primary);
}

#navigation #all-projects-btn {
  padding: 0 20px 20px;
}

#mobile-nav {
  display: none;
}

.mobile-nav #mobile-nav {
  animation: mobileNav 100ms 1 forwards;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding-bottom: 250px;
}

.mobile-nav #mobile-nav ul {
  padding-left: 0;
  list-style-type: none;
}

.mobile-nav #mobile-nav ul li {
  margin: 25px 0;
  font-size: 2rem;
  font-weight: 200;
  cursor: pointer;
}

@media (min-width: 768px) {
  .project-name {
    width: 100%;
  }

  .project-name.mobile {
    display: none;
  }

  .project-name.desktop {
    display: inline-flex !important;
  }

  #navigation .navbar {
    padding: 0rem 1rem;
  }

  #navigation .navigation-content {
    flex-direction: row;  
  }

  #navigation .navigation-content .navigation-list {
    display: flex;
    height: calc(100vh - 70px);
    flex-direction: column;
    text-align: center;
    width: 75px;
  } 
  
  #navigation .navigation-content .navigation-list .list-group {
    flex-direction: column;
  }

  #navigation .navigation-content .navigation-list .list-group .list-group-item {
    display: block;
  }

  #navigation .navigation-content .navigation-list .list-group .list-group-item#navigation-list-hamburger {
    display: none;
  }
}

@media (min-width: 992px) {
  #navigation .navbar {
    padding: 0rem 0rem;
  }
}

@keyframes mobileNav {
  0% { background-color: transparent; color: unset; }
  100% { background-color: var(--primary); color: #fff; }
}
