#team h3 {
  text-align: center;
  margin-bottom: 2rem;
}

#team .project-type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#team .project-type-list button {
  border-radius: 6px;
  margin: .6rem;
  background-color: var(--secondary);
  color: unset;
}

#team .project-type-list button:hover {
  background-color: var(--shadow);
}

#team .project-type-list button i {
  margin-right: .4rem;
}
