@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");
@import 'components/navigation.css';
@import 'components/team.css';
@import 'components/project.css';
@import 'components/loading.css';
@import 'components/dashboard.css';
@import 'components/utility.css';
@import 'components/forms.css';


/* WebpackTemplate color scheme */
:root {
  --primary: #6c77fb;
  --secondary: #ccd1dd;
  --secondary-dark: #929bad;
  --text-dark: #404044;
  --shadow: #e4e8f1;
}
